.app-wrapper{
  display: grid;

  margin: 0 auto;
  grid-template-areas: 
  "header header"
  "sidebar profile"
  ;

  grid-template-rows: 100px 1fr;
  grid-template-columns: 150px 1fr;

  height: 100ch;
}